sqlalchemy==1.3.23
boto3==1.18.1
google-cloud-storage==1.35.1
google-api-python-client==1.12.3
google-cloud-aiplatform
azure-storage-blob==12.13.0
python-dotenv==1.0.0
jwt
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability